@use 'sass:map';
// 640px, 900px, 1400px
$breakpoints-up: (
    'medium': '40em',
    'large': '56.25em',
    'xlarge': '87.5em',
);
//499px, 639px, 899px, 1399px
$breakpoints-down: (
    'xsmall': '31.1875em',
    'small': '39.9375em',
    'medium': '56.1875em',
    'large': '87.4375em',
);
@mixin breakpoint($size) {
    @media (min-width: map.get($breakpoints-up, $size)) {
        @content;
    }
}
@mixin breakpoint-down($size) {
    @media (max-width: map.get($breakpoints-down, $size)) {
        @content;
    }
}