@use '../util/' as *;
.container {
    width: clamp(to-rem(320), 90vw, to-rem(1200));
    padding: to-rem(32);
    border-radius: to-rem(16);
    background: var(--card-bg-color);
    box-shadow: var(--card-shadow);
    align-self: center;
}