@use '../util' as *; 
.form {
    margin-bottom: to-rem(40);
    input {
       font-size: clamp(to-rem(16), 5vw, to-rem(20));
        width: 100%;
        border-radius: to-rem(8);
        margin-bottom: to-rem(20);
        padding: clamp(to-rem(12), 4vw, to-rem(18));
        background: var(--input-bg);
        color: var(--color);
        border: to-rem(1) solid var(--input-border);
        &::placeholder {
            color: var(--color);
        }
    }
    &__button {
        display: flex;
        gap: to-rem(16);
        justify-content: stretch;
        max-width: to-rem(600);
        margin: 0 auto;
        @include breakpoint-down(xsmall) {
            flex-direction: column;
            width: 100%;
            max-width: 100%;
        }
        button {
            flex: 1;
            max-width: 100%;
            font-size: to-rem(16);
            color: var(--color);
            padding: to-rem(12) to-rem(24);
            border-radius: to-rem(24);
            font-weight: 600;
            transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
            &:active {
                transform: scale(0.98);
            }
        }
        button[type='submit'] {
            background: var(--primary-accent);
            box-shadow: var(--primary-accent-shadow);
            &:hover {
                background: var(--primary-accent-hover);
            }
        }
        button[type='reset'] {
            background: var(--restart-btn);
            box-shadow: var(--restart-btn-shadow);
            &:hover {
                background: var(--restart-btn-hover);
            }
        }
    }
}