@use '../util' as *; 
.header {
    margin-bottom: to-rem(32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    &__title {
        font-size: to-rem(30);
        font-weight: 700;
    }
}