@use '../util' as *; 
.header {
    margin-bottom: to-rem(32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    @include breakpoint-down(small) {
        align-items: start;
        flex-direction: column;
        gap: to-rem(10);
    }
    &__title {
        font-size: to-rem(24);
        font-weight: 700;
    }
}